In [52]:
#Importing libraries
import pandas as pd
import os

In [86]:
#Import different dfs

def single_alg_dataframe_importer(path):

    list_of_dfs = []
    for i in os.listdir(path):
        if i != ".DS_Store":
            temp_df = pd.read_excel(path + i)
            temp_df = temp_df.iloc[0:199,1:-1]
            list_of_dfs.append(temp_df)
    
    return list_of_dfs

In [87]:
def avg_fitness_per_gen(algo_1_path):
    full_column = []
    for generation in range(len(algo_1_path[0])):
        
        total_fitness = 0
        for df in algo_1_path:
            item_to_add = df.iloc[generation:generation+1,0:1]["best_fitness"]
            total_fitness += item_to_add.values[0]
        average_fitness = total_fitness/(len(algo_1_path))
        full_column.append(average_fitness)

    return pd.Series(full_column)

In [76]:
new_df = pd.DataFrame()

new_df["spec_0_1"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_0 (fps,pmx,inv)/fitness_1/"))
new_df["spec_0_2"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_0 (fps,pmx,inv)/fitness_2/"))

new_df["spec_1_1"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_1 (tour,pmx,inv)/fitness_1/"))
new_df["spec_1_2"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_1 (tour,pmx,inv)/fitness_2/"))

new_df["spec_2_1"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_2 (fps,geo,swap)/fitness_1/"))
new_df["spec_2_2"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_2 (fps,geo,swap)/fitness_2/"))

new_df["spec_3_1"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_3 (tour,ari,geo)/fitness_1/"))
new_df["spec_3_2"] = avg_fitness_per_gen(single_alg_dataframe_importer("./results/spec_3 (tour,ari,geo)/fitness_2/"))

In [85]:
new_df

,spec_0_1,spec_1_1,spec_1_2,spec_0_2,spec_2_1,spec_2_2,spec_3_1,spec_3_2
0,2781.2500,2835.9375,512.5000,685.9375,2804.6875,714.0625,2812.5000,548.4375
1,2843.7500,2867.1875,803.1250,792.1875,2835.9375,728.1250,2851.5625,568.7500
2,2890.6250,2890.6250,892.1875,796.8750,2851.5625,757.8125,2867.1875,648.4375
3,2914.0625,2914.0625,929.6875,871.8750,2882.8125,850.0000,2890.6250,696.8750
4,2953.1250,2937.5000,964.0625,871.8750,2929.6875,864.0625,2921.8750,739.0625
...,...,...,...,...,...,...,...,...
194,3554.6875,3507.8125,2523.4375,3281.2500,3664.0625,3078.1250,3687.5000,2523.4375
195,3554.6875,3507.8125,2523.4375,3281.2500,3664.0625,3078.1250,3687.5000,2523.4375
196,3554.6875,3523.4375,2523.4375,3281.2500,3664.0625,3078.1250,3687.5000,2523.4375
197,3554.6875,3523.4375,2531.2500,3281.2500,3664.0625,3078.1250,3687.5000,2539.0625
198,3554.6875,3523.4375,2531.2500,3281.2500,3664.0625,3078.1250,3687.5000,2539.0625